<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.imgur.com/yGmrlyg.jpg');">
    <header class='masthead'>
        <p class='masthead-intro'>Hi I'm</p>
        <h1 class='masthead-heading'>Mihir!</h1>
        <h3 style="margin-top: 200px;"> Glad to meet you !!!  </h3>
        <h2 style="color: black;">I was born in Rohtak, Haryana , India. I did my schooling from Hillwoods Academy,Delhi. Currently I am persuing B-tech in Computer Science
            from Delhi itself.   </h2>
            <h2 style="color: black;" >My hobbies are to travel and explore new places, similar to that concept I have designed a website for all those travel lovers out there .</h2>
      </header>
</body>
</html>